.card {
    cursor: pointer;
    width: 18rem;
}

.field-container {
    margin-top: 10px;
}

.pagination-container {
    margin-top: 10px;
}

.pagination {
    justify-content: center;
}

.data-list-container {
    width: 95%;
    margin: auto;
}