/* Adding spacing for inner containers */
.tags-main-div {
    border: 1px solid black;
    padding: 10px;
}

/* Remove the spacing for the first inner container */
.tags-main-div:first-child {
    margin-top: 0px;
}

/* Remove the spacing for the last inner container */
.tags-main-div:last-child {
    margin-bottom: 0px;
}

/* Adding spacing for inner containers */
.tags-main-category-div {
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Remove the spacing for the last inner container */
.tags-main-category-div:first-child {
    margin-top: 0px;
}

/* Remove the spacing for the last inner container */
.tags-main-category-div:last-child {
    margin-bottom: 0px;
}

/* Style the tag text */
.tags-tag-text-div {
    text-align: center;
    border-style: ridge;
    margin: 10px;
    cursor: pointer;
}

/* Make the highlighted tag stand out */
.tags-tag-text-div:hover {
    color: white;
    background-color: grey;
}